
h1{
    text-align: center;
    text-transform: uppercase;
    color: brown;
}
legend {
    color: blue;
}
fieldset{
background-color: bisque;
}

button{
font-style: italic;
background: #eb94d0;

}
p{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.botonClick{
margin: 20px;
width: 100px;
background-color: red;
font-weight: bold;
height: 30px;
color: white;
box-shadow: 10px 10px 10px black;

}
.verde{
    margin: 20px;
width: 100px;
border-radius: 10px;
background-color: goldenrod;
font-weight: bold;
height: 30px;
color: white;
box-shadow: 10px 10px 10px black;
}
